frontend/node_modules/
*.env
.vscode/
.venv/
env
venv
.env

db.sqlite3

.history/

media/
static/
Release.key
*.pem

scarecrew.py
test.txt

config.yaml
danger.py

server_setup.txt
backend/source/settings.py
backend/*.pyc
__pycache__/
backend/__pycache__/
backend/env
web/


# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.DS_Store

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

package-lock.json
yarn.lock

commit.sh
